<ul class="alert alert-danger" *ngIf="errors?.length > 0">
    <li *ngFor="let err of errors">
        {{err}}
    </li>
</ul>

<div class="card bg-dark text-white">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
        <!-- Se quita (ngSubmit) = "create()" del form y se añade al botón, 
    ya que antes solo estaba create y ahora esta edit tambien-->
        <form #clienteForm="ngForm">
            <!-- Con la variable ngForm sabemos si el form es valido -->
            <div class="form-group row mb-3">
                <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
                <div class="col-sm-6">
                    <!-- ngModel es el objeto que contiene los mensajes de error-->
                    <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre" #nombre="ngModel">
                    <!--required minlength="4"-->
                    <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                        <!-- Mostar el error a medida que se escribe y cuando se sale del formulario-->
                        <div *ngIf="nombre.errors.required">
                            Nombre es requerido
                        </div>
                        <div *ngIf="nombre.errors.minlength">
                            Nombre debe tener al menos 4 caracteres
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="apellido" class="col-form-label col-sm-2">Apellido</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.apellido" name="apellido" #apellido="ngModel">
                    <!-- required -->
                    <div class="alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
                        <!-- Mostar el error a medida que se escribe y cuando se sale del formulario-->
                        <div *ngIf="apellido.errors.required">
                            Apellido es requerido
                        </div>

                    </div>
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="email" class="col-form-label col-sm-2">Email</label>
                <div class="col-sm-6">
                    <!-- descatacar la directiva email (validator) despues de required, si no email.errors.email no ofunciona-->
                    <input type="text" class="form-control" [(ngModel)]="cliente.email" name="email" #email="ngModel">
                    <!-- required email -->
                    <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                        <!-- Mostar el error a medida que se escribe y cuando se sale del formulario-->
                        <div *ngIf="email.errors.required">
                            Email es requerido
                        </div>
                        <div *ngIf="email.errors.email">
                            Email debe tener un formato válido
                        </div>
                    </div>
                </div>
            </div>

            <!-- Puede ser que almacene fechas distintas porque el locale del back es distinto del front
                Hay que cambiarlo en aplication properties de spring -->
            <div class="form-group row mb-3">
                <label for="createAt" class="col-form-label col-sm-2">Fecha</label>
                <div class="col-sm-6">

                    <input matInput [matDatepicker]="picker" class="form-control" [(ngModel)]="cliente.createAt" name="createAt" style="display: inline; width: 200px;">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </div>
            </div>


            <div class="form-group row mb-3">
                <label for="createAt" class="col-form-label col-sm-2">Regiones</label>
                <div class="col-sm-6">
                    <select [compareWith]="compararRegion" class="form-control" [(ngModel)]="cliente.region" name="region" style="display: inline; width: 500px;">
                        <!-- en typescript se maneja como undefined-->
                        <option [ngValue]="null">---Seleccionar una región---</option>
                        <option *ngFor="let region of regiones" [ngValue]="region">
                            {{region.nombre}}
                        </option>
                    </select>
                </div>
            </div>



            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" type="submit" (click)='create()' *ngIf="!cliente.id else elseBlock" [disabled]="!clienteForm.form.valid">Crear</button>
                    <ng-template #elseBlock>
                        <button class="btn btn-primary" type="submit" (click)='update()' [disabled]="!clienteForm.form.valid">Editar</button>
                    </ng-template>
                </div>
            </div>
        </form>
    </div>
</div>